.p-bt-10{
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.p-bt-20{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.p-0{
    padding: 0 !important;
}

.valgn-center{
    align-items: center;
}