{% extends 'layout.html' %} {% block content %}
<div class="container">
    <div class="row">
        <h1>Password Generator</h1>
    </div>
    <div class="row sep valgn-center p-bt-10">
        <span id="passw">
            {% if passw != '' %}
                {{passw}}
            {% else %}
                P4$$w0rD
            {% endif %}
        </span>
    </div>
    <div class="row sep p-bt-20">
        <form action="/" method="post">
            <div class="row p-0">
                <input type="range" name="range" id="range" min="1" max="13" autocomplete="off" value="{{nchars}}">
                <label for="range">Nº de caracteres: 1</label>
            </div>
            <ul>
                <li><input type="checkbox" class="check" name="opts" id="min" value="min"><label for="min" {% if err %}class="warning"{% endif %}>Minúsculas</label></li>
                <li><input type="checkbox" class="check" name="opts" id="may" value="may"><label for="may" {% if err %}class="warning"{% endif %}>Mayúsculas</label></li>
                <li><input type="checkbox" class="check" name="opts" id="num" value="num"><label for="num" {% if err %}class="warning"{% endif %}>Números</label></li>
                <li><input type="checkbox" class="check" name="opts" id="sim" value="sim"><label for="sim" {% if err %}class="warning"{% endif %}>Símbolos</label></li>
            </ul>
            <div class="row strength">
                <span class="label">Fuerza:</span>
                <span class="lvl vweak {{'on' if strengh !='' and strengh > 2 }}"></span>
                <span class="lvl weak {{'on' if strengh !='' and strengh > 5 }}"></span>
                <span class="lvl medium {{'on' if strengh !='' and strengh > 8 }}"></span>
                <span class="lvl strong {{'on' if strengh !='' and strengh > 9 }}"></span>
            </div>
            {% if merr %}
            <span class="p-bt-10 warning">{{merr}}</span>
            {% endif %}
            <button>Generar Password</button>
        </form>
    </div>
</div>
{% endblock %}